---
import config from "../index.config"

import BaseLayout from '../layouts/BaseLayout.astro'
import BaseMain from "../layouts/BaseMain.astro"
import Anchor from "../components/Anchor.astro"
import ArrowFatLineDown from '../icons/ArrowFatLineDown.astro'
---

<BaseLayout title="SWE | Maurice Nyanja" activeNavItem="/">
	<BaseMain classNames="w-full p-4 md:p-8 lg:p-16 py-12" overrideDefaults={true}>
		<div class="
			h-full w-full flex flex-wrap justify-center items-center gap-12
		">
			<img src="/images/hero-images/hero-image-light.png" class="w-full max-w-[512px] block dark:hidden" />
			<img src="/images/hero-images/hero-image-dark.png" class="w-full max-w-[512px] hidden dark:block" />

			<div class="flex flex-col gap-y-8">
				<h1 class="text-4xl font-bold max-w-prose leading-normal">Hello 👋 , I am Maurice Emmanuel Nyanja!</h1>
				<p class="text-lg max-w-prose">I am a <strong>Software Engineer</strong> ,a <strong>tinkerer</strong> and <strong>DevOps Engineer</strong> am interested in this particular subjects of <strong>DevOps</strong>,<strong> Android applications</strong>, and  <strong> web</strong> I am looking to <strong>collaborate</strong> to good projects.</p>
				<p class="text-lg max-w-prose">I am based in<strong> outskirts of Nairobi</strong>, in the country of<strong> Kenya</strong> .</p>
			
				<div class="w-full flex flex-wrap justify-center items-center gap-x-8 gap-y-4">
					{
						config.cv.map(item => (
							<Anchor href={item.url} isStyled={true}>
								<ArrowFatLineDown />
								{item.title}
							</Anchor>
						))
					}
				</div>
			</div>
		</div>
	</BaseMain>
</BaseLayout>

<style>
	main {
		display: flex;
	}
</style>
